body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: 1140px;
    border: 1px solid #2f8d8a;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c6fffd94;
  }
  
  .secao {
    min-height: 100vh; // ViewPort Height // Altura máxima da área de vibilidade
    display: flex;
    justify-content: center;
    align-items: center;
  
    &.inicio {
      background-color: pink;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNSMaJdd2RSmwLw5LblHoDd254q6oODleYhr7GjAMJ3w&s");
      background-size: cover;
      background-position: center;
    }
    &.sobre {
      background-color: blueviolet;
      background-image: url("https://th.bing.com/th/id/R.6ed7f24eb793e97a94e9fc4c034b66c0?rik=sLWf7OZPgSpb1w&pid=ImgRaw&r=0");
      background-size: cover;
      background-position: center;
    }
    &.atividades {
      background-color: aqua;
    }
  }
  